* {
    font-family: "Roboto Condensed"
}


.top_bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    
    /* background-color:rgb(61, 30, 20); */
}

.nav_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.navigation_item {
    padding: 0 1em
}