* {
    font-family: "Roboto Condensed";
    box-sizing: border-box
}

html {
  height: 100%;
}

header {
    flex: 0 90px;
    font-size: 15px;
    background: rgb(46, 45, 58);
    /* color: rgb(226, 226, 226); */

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;

}

.username_display {
  padding: 1em
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(25, 49, 80);
  color: white;
}

main {
  flex: 1;
  font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    flex: 0 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 26, 43);

}

#explanation {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 1em
}

#quote {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 20px
}
/* #quote:hover {
    background-color: black;
} */

#class_explanation {
    font-size:10px
}

#admonition {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}